# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data & Huge binary folders
uploads/
data/
PC\ web_images/
phone+tablet_images/
manager/backend/uploads/
manager/backend/data/
demo/public/defaults/
demo/public/site-settings.json

# Nested dependencies
**/node_modules/
**/dist/
**/.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
